main {
  padding: 20px;
}
div.msg-group {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
}
div.msg-group>img.user-icon {
  width: 40px;
  height: 40px;
}
.gray {
  background-color: gray;
}
#msg-group {
  overflow:auto;
}
